@model TaikuriApp.Models.Taikuri

@{
    ViewData["Title"] = "Edit";
}

<h1>Editor</h1>

<h4>Taikuri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaikuriId" />
            <div class="form-group">
                <label asp-for="Taiteilijanimi" class="control-label"></label>
                <input asp-for="Taiteilijanimi" class="form-control" />
                <span asp-validation-for="Taiteilijanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toimialat" class="control-label"></label>
                <input asp-for="Toimialat" class="form-control" />
                <span asp-validation-for="Toimialat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taidot" class="control-label"></label>
                <input asp-for="Taidot" class="form-control" />
                <span asp-validation-for="Taidot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokaatio" class="control-label"></label>
                <input asp-for="Lokaatio" class="form-control" />
                <span asp-validation-for="Lokaatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
